body{
    margin: 0 auto;
    width: 100%;
}
.header{
    background-color: rgba(2, 206, 2, 0.815);
    width: 100%;
    height: 40px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.trai{
   float: left;
   margin: 10px;
   color: white;
} 
 .phai{
    float: right;
    margin: 10px;
    
} 
.header>.phai>a{
    text-decoration: none;
    list-style: none;
    color: white;
    padding-right: 20px;
}
 
.header>.phai>a:hover{
    color: blue;
}

#home{
    background-color: forestgreen;
}

.container-fluid{
    /* background-color: rgba(2, 206, 2, 0.534); */
    position: relative;
}
nav{
    width: 100%;
}
.nav-item{
    list-style: none;
}
.d-flex{
  right: 100px; 
  position: absolute;  
}
form>a{
    text-decoration: none;
    list-style: none;
    color: green;
    padding-right: 20px;
}
/*  */
header{
    text-align: center;
    height: 20%;
    color: grey;
}
h6{
    text-align: center;
    font-weight: bold;
}
.size{
    color: gray;
}
.col-sm-2{
    border: 1px solid gray;
    padding: 10px;

    margin: 11px;
    width: 315px;
    justify-content: center;
    position: relative;
}
.cmt{
    text-align: center;
    color: gray;
    font-family: 'Courier New';
}
.col-sm-2>button{
   width: 100%; 
   padding: 10px;
   margin-bottom: 10px;
   background-color: forestgreen;
   border-radius: 20px;
}
img{
    width: 100%;
    height: 400px;

}
#hide{
    background-color: palevioletred;
    color: white;
}
#show{
    background-color: orangered;
    color: white;
}
.in4{
    display: flex;
    border-bottom: 1px solid gray;
}
.gach{
    border-bottom: 1px solid gray;
}
/* .in4{
    margin-left: 20px;
}
.in4>div{
    margin-right: 50px;
}
.in4>div>p{
    color: grey;
}
.mail{
    color: grey;
/* } */
#stay-in-touch>input{
    width: 250px;
    display: grid;
    height: 40px;
} 
#stay-in-touch>input{
    margin: 40px 0 20px 0;
    height: 40px;
    text-align: center;
}
#stay-in-touch>button{
    width: 250px;
    background-color: forestgreen;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    margin-bottom: 20px;
}
#stay-in-touch>i{
    margin-right: 20px;
} 
